name: "CI Build"

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]
    tags: [v*]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  test:
    name: Execute Tests (Java ${{ matrix.java }})
    strategy:
      fail-fast: false
      matrix:
        java: [8, 17]
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: ${{ matrix.java }}

      - name: Execute Unit Tests
        run: sbt test

      - name: Package Project Products
        run: sbt package

  publish:
    name: Publish Release
    needs: [test]
    if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 11

      - name: Import Signing Key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.OSS_PUBLISH_USER_SIGNING_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Update Signing Key Trust Level
        run: echo -e "trust\n5\ny" | gpg --batch --no-tty --command-fd 0 --edit-key ${{ secrets.OSS_PUBLISH_USER_SIGNING_KEY_ID }}

      - name: Publish Projects
        run: sbt publishSigned sonatypeBundleRelease
        env:
          PUBLISH_USER: ${{ secrets.OSS_PUBLISH_USER }}
          PUBLISH_USER_PASSPHRASE: ${{ secrets.OSS_PUBLISH_USER_PASSPHRASE }}
          SIGNING_KEY_ID: ${{ secrets.OSS_PUBLISH_USER_SIGNING_KEY_ID }}


  publish-documentation:
    name: Publish Documentation
    needs: [publish]
    if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: 17

      - name: Import Signing Key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.OSS_PUBLISH_USER_SIGNING_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true
          git_committer_name: Shuwari Africa Team

      - name: Update Signing Key Trust Level
        run: echo -e "trust\n5\ny" | gpg --batch --no-tty --command-fd 0 --edit-key ${{ secrets.OSS_PUBLISH_USER_SIGNING_KEY_ID }}

      - name: Generate Documentation
        run: sbt sbt-shuwari-documentation/mdoc

      - name: Commit Documentation Changes
        run: |
          git add ./README.md && \
          git commit --gpg-sign --message "Update documentation for ${{ github.ref_name }}"

      - name: Push Documentation Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.OSS_TEAM_TOKEN }}
          branch: main


  synchronise-repositories:
    name: Synchronise Repositories
    if: github.event_name != 'pull_request' && (github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v'))
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Synchronise Azure DevOps
        uses: yesolutions/mirror-action@v0.6.0
        with:
          REMOTE: "git@ssh.dev.azure.com:v3/shuwari/sbt-shuwari/sbt-shuwari"
          GIT_SSH_PRIVATE_KEY: ${{ secrets.DEVOPS_SSH_PRIVATE_KEY }}
          GIT_SSH_NO_VERIFY_HOST: "true"
          PUSH_ALL_REFS: false
